# React Native & Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
dist/
web-build/
.expo-shared/
expo-env.d.ts

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# Environment files
.env
.env.*.local
.env.local

# Android / iOS (if ejected or built)
android/
ios/
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-cache/
metro.config.js

# Watchman
.watchmanconfig

# Logs
*.log
*.lock

# VSCode
.vscode/

# Others
*.orig.*
.idea/
*.swp
